.keyPoint {
    position: absolute;
    width: 5px;
    z-index: 2;
}

.keyPointInfo {
    position: absolute;
    bottom: 50px;
    color: black;
}

.short {
    height: 50% !important;
}

.medimum {
    height: 55% !important;
}

.long {
    height: 60% !important;
}

.extraLong {
    height: 80% !important;
}

.sprint {
    background-color: var(--sprint);
}

.mountain {
    background-color: var(--mountation);
}

.finish {
    background-color: var(--finishColor);
}

.sprint > .flag {
    background-color: var(--sprint);
}

.mountain > .flag {
    background-color: var(--mountation);
}

.finish > .flag {
    background-color: gold;
}

.flag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    z-index: 2;
    color: white;
    bottom: 55px;
}

.flag.right {
    border-radius: 20px 5px;
    transform: rotate(-15deg);
    left: -9px;
}

.flag.left {
    border-radius: 5px 20px;
    transform: rotate(15deg);
    left: -79px;
}

.flag > span {
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

.flag > .finishLine {
    left: -60px;
}

.flag > .finishLine > h3 {
    width: 120px;
}