.keyPoint {
    position: absolute;
}

.keyPoint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    z-index: 2;
}

.keyPointInfo {
    position: absolute;
    bottom: 50px;
    color: black;
}

.short {
    height: 40% !important;
}

.medium {
    height: 55% !important;
}

.long {
    height: 65% !important;
}

.extraLong {
    height: 80% !important;
}

.sprint::before,
.sprint > .flag  {
    background-color: var(--sprint);
}

.mountain::before,
.mountain > .flag {
    background-color: var(--mountation);
}

.finish::before,
.finish > .flag {
    background-color: var(--finishColor);
}

.flag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 50px;
    z-index: 2;
    color: white;
    bottom: 55px;
}

.flag.right {
    border-radius: 20px 5px;
    transform: rotate(-15deg);
    left: -9px;
}

.flag.left {
    border-radius: 5px 20px;
    transform: rotate(15deg);
    left: -79px;
}

.flag > span {
    font-weight: bold;
    font-size: 24px;
    font-style: italic;
}

.flag > .finishLine {
    left: -60px;
}

.flag > .finishLine > h3 {
    width: 120px;
}