.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > :last-child{
  margin-right: 20px;
}

.container {
  padding: 0px 20px 50px 20px;
}

.headline {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-areas:
    "stageWins stageWins stageWins yellowWinner greenWinner"
    "stageWins stageWins stageWins polkaWinner  youthWinner"
    "wins      length    gap       team         combativity"
    "wins      length    gap       bestMate     bestMate";
    grid-template-columns: auto 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.container h2 {
    margin-bottom: 10px;
}

.stageWins {
  grid-area: stageWins;
  line-height: 1.5;
}

.stageWins .result {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 15px 25px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.yellowJersey {
  grid-area: yellowWinner;
}

.greenJersey {
  grid-area: greenWinner;
}

.polkaJersey {
  grid-area: polkaWinner;
}

.youngJersey {
  grid-area: youthWinner;
}

.team {
  grid-area: team;
}

.combativity {
  grid-area: combativity;
}

.wins {
  grid-area: wins;
}

.wins > ol {
    padding: 0 30px;
    line-height: 1.4;
    width: fit-content;
    overflow: auto;
}

.totalLength {
  grid-area: length;
  text-align: center;
}

.gap {
  grid-area: gap;
}

.bestMate {
  grid-area: bestMate;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  background-color: #333333;
  border-radius: 20px;
  padding: 40px 0;
  color: white;
  gap: 15px;
  align-items: center;
}

.bestMateWinner {
  font-size: 1.2rem;
  font-weight: bold;
}

.bestMateWeekWinner {
  margin-top: 5px;
}

.bestMateWeeklyWinners {
  padding-left: 40px;
}

.bestMateOverallWinner {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;

  justify-self: center;
}

.bestMateOverallWinner p {
  text-align: center;
}