.card {
  height: 100%;
  border-radius: 20px;
}

.jerseyHeader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 70%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.jersey {
  background-color: hsla(0, 0%, 70%, 0.2);
  border-radius: 20px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
  color: white;
  background-color: #333329;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  line-height: 1.5;
}

.winner {
  font-weight: 700;
  font-size: 1.2rem;
}

.yellowBg {
  background-color: yellow;
}

.greenBg {
  background-color: hsl(129, 50%, 44%);
}

.polkaBg {
  background-color: var(--polka);
}

.whiteBg {
  background-color: hsl(264, 11%, 91%);
}

.bestTeam,
.fighter {
  background-color: #666447;
  padding: 20px 0;
}

.polkaDot {
  position: absolute;
  --radius: 20px;
  background-color: var(--polkaDot);
  border-radius: 50%;
  height: var(--radius);
  width: var(--radius);
}

.dotPosOne {
  top: 62%;
  left: 9%;
}

.dotPosTwo {
  top: 13%;
  left: 20%;
}
.dotPosThree {
  top: 60%;
  left: 70%;
}
.dotPosFour {
  top: 30%;
  left: 2%;
}
.dotPosFive {
  top: 15%;
  left: 82%;
}
.dotPosSix {
  top: 45%;
  left: 96%;
}
.dotPosSeven {
  top: 81%;
  left: 29%;
}
.dotPosEight {
  top: -2%;
  left: 59%;
}
.dotPosNine {
  top: 87%;
  left: 93%;
}
.dotPosTen {
  top: 0%;
  left: -3%;
}
.dotPosEleven  {
  top: 91%;
  left: 3%;
}
.dotPosTwelve {
  top: 90%;
  left: 63%;
}
