.info {
    width: 100%;
    text-align: center;
}

.info > div{
    width: 50%;
    margin: 10px auto 0 auto;
    line-height: 1.4;
}

.center {
    margin: auto;
}

.spacing {
    margin: 50px 15px;
}

.teamsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: auto;
}

/* Tab style start list */
.divider {
    margin: 10px 0;
    border: 1px black solid;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
}

.team > img {
    width: 100%;
}
.team > p {
    font-weight: bold;
    text-align: center;
}

.teams {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
    padding-bottom: 100px;
}

.teams ul {
    list-style: none;
    padding-top: 5px;
}

.teams ul li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.teams ul > li ~ li{
    margin-top: 10px;
}

.raceNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1px;
    font-size: 14px;
}

.raceNumber > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 20px;
}

.raceNumber::before {
    content: '';
    display: block;
    background-color: #c2b500;
    width: 100%;
    height: 5px;
}

.raceNumber::after {
    content: '';
    display: block;
    background-color: #2250a9;
    width: 100%;
    height: 5px;
}

/* Tab style stages */
.stages {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.stages > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
    line-height: 1.5;
}

.stages p {
    word-break: break-word;
}