.overviewContainer {
  position: relative;
  width: 100vw;
  z-index: 2;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(51, 81%, 66%);
  padding: 10px 0px;
  margin-bottom: 5px;
}

.header .logo {
  max-width: 5%;
}

.header > span {
  font-size: 1.5rem;
}

.gridContainer {
  display: grid;
  background-color: #4a4a4a;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "stageWin general points mountion"
    "stageWin young team fighter";
  column-gap: 10px;
  row-gap: 10px;
  color: white;
  padding: 20px;
  height: 90%;
}

.gridContainer > div {
  display: flex;
  flex-direction: column;
  background-color: hsla(51, 80%, 8%, 0.8);
  border-radius: 10px;
  overflow: auto;
  height: 100%;
}

.stageResults {
  grid-area: stageWin;
}

.yellowJersey {
  grid-area: general;
}

.greenJersey {
  grid-area: points;
}

.mountainJersey {
  grid-area: mountion;
}

.youngJersey {
  grid-area: young;
}

.team {
  grid-area: team;
}

.fighter {
  grid-area: fighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fighter > img {
  width: 35%;
}
