.container {
  display: flex;
  width: 100vw;
  height: 100%;
}

.container > div {
  text-align: center;
  scroll-snap-align: start;
  flex: none;
}

/* scroll-snap */
.mandatory-scroll-snapping {
  scroll-snap-type: x mandatory;
}