@font-face {
  font-family: JosefinSans;
  src: local('JosefinSans'), url(./assets/fonts/JosefinSans-VariableFont_wght.ttf) format('ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sprint: #39AB32;
  --mountation: #E10813;
  --finishColor: gold;
  --polka: hsl(20, 12%, 90%);
  --polkaDot: #d50000;
  --yellow-bg: hsl(56 100% 75%);
}

html,body {
  height: 100%;
}

h1,h2,h3,h4,p,span,tr {
  font-family: JosefinSans, sans-serif, system-ui;
}

#root {
  height: inherit;
}

.hide {
  display: none;
}

button, .btn {
  display: inline-block;
  background-color: hsl(0, 0%, 20%);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.btn-large {
  padding: 20px 40px;
  font-size: large;
}

button:hover, .btn:hover {
  background-color: hsl(0, 0%, 30%);
}

button:focus, .btn:focus {
  box-shadow: hsla(0, 0%, 40%, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled, .btn:disabled {
  background-color: hsl(0, 0%, 70%);
  cursor: default;
}

button:active, .btn:active {
  background-color: hsl(0, 0%, 30%);;
}