@font-face {
  font-family: 'JosefinSans';
  src: local('JosefinSans'), url(~./assets/fonts/JosefinSans-VariableFont_wght.ttf) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --sprint: #39AB32;
  --mountation: #E10813;
  --finishColor: gold;
  --polka: hsl(20, 12%, 90%);
  --polkaDot: #d50000;
  --yellow-bg: hsl(56 100% 45%);

  --stage-z-index: 2
}

html,body {
  height: 100%;
}

body {
  background-color: var(--yellow-bg);
}

h1,h2,h3,h4,p,span,tr,li {
  font-family: sans-serif, system-ui;
}

#root {
  height: inherit;
}

.hide {
  display: none;
}

.font-family-jose {
  font-family: JosefinSans, sans-serif, system-ui;
}

button, .btn {
  --btn-color: hsl(0, 0%, 20%);
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-decoration: none;
  font-family: sans-serif;
}

.btn-large {
  padding: 20px 40px;
  font-size: large;
}

button:hover, .btn:hover {
  background-color: hsl(0, 0%, 30%);
}

button:focus, .btn:focus {
  box-shadow: hsla(0, 0%, 40%, 0.4) 0 0 0 3px;
  outline: none;
}

button:disabled, .btn:disabled {
  background-color: hsl(0, 0%, 70%);
  cursor: default;
}

button:active, .btn:active {
  background-color: hsl(0, 0%, 30%);
}

.btn-primary {
  background-color: var(--btn-color);
  border: 2px solid rgba(27, 31, 35, .15);
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
}

.btn-secondary:hover {
  background-color: var(--btn-color);
  color: #fff;
}

#error-page {
  background-color: var(--yellow-bg);
}

#error-page > a {
  position: absolute;
}

#error-page > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100svh;
}

#error-page > div > h1 {
  font-size: 3rem;
}
#error-page > div > p {
  font-size: 1.3rem;
  margin: 20px 0;
}
