.winnerBg {
    background-color: gold;
    color: black;
}

.yellowBg {
  --_yellowBg: var(--yellow, hsl(56, 100%, 53%));
  background-color: var(--_yellowBg);
}

.greenBg {
  --_greenBg: var(--greenBg, hsl(129, 50%, 44%));
  background-color: var(--_greenBg);
}

.polkaBg {
  background-color: var(--polka);
}

.whiteBg {
  background-color: hsl(264, 11%, 91%);
}

.bestTeam,
.fighter,
.bestTeamOverview {
  background-color: #666447;
  padding: 20px 0;
}

.bestTeamOverview > img {
    width: 60px;
}